/* src/TrackOrder.css */
.TrackOrder {
  padding: 20px;
  text-align: left;
}

.TrackOrder h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.TrackOrder .leaflet-container {
  height: 500px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}